
body {
	width: 100%;
}

div#wrapper {
	width: 70%;
	margin: auto;
}

/*WHOLE CARD*/
div.card {
	width: 30%;
	border: 1px solid lightblue;
	display: inline-block;
	margin:6px;
}


.header {
	border: 1px dotted lightgray;

}

/*MAIN-IMAGE*/
img {
	padding: 0 51px;
	display: inline-block;
}

/*HEADER-TITLE*/
h1 {
	text-align: center;
}

/*PRODUCT-DESCRIPTION*/
p {
	text-align: justify;
}

/*AVAILABILITY*/
h4{
	color: yellow;
	background-color: gray;
	padding: 8px 0 8px 6px;
}

/*SPECIFICATIONS*/
h3 {
	padding-left: 3px;
	font-weight: 500;
	margin: 4px;
}

/*SIZE-WEIGHT-PRICES*/
div.size p, .productWeight p,.thirdSection p {
	font-weight: bold;
	padding-left: 10px;
	margin: 4px;
}

/*SPECIFICATIONS VALID TIL*/
div.footer p {
	font-size: .75em;
	margin: 4px;
}

/*PRICING-TITLE*/
.priceHeader h3{
	margin: 4px;

}




